<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54119213170-iq822l09e5cc85u1bk0fbcf32k36dio3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54119213170-iq822l09e5cc85u1bk0fbcf32k36dio3</string>
	<key>API_KEY</key>
	<string>AIzaSyAbU3YH8OG3_0gRgw8A5qrmlHqG8XswzPU</string>
	<key>GCM_SENDER_ID</key>
	<string>54119213170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.anire.fauna</string>
	<key>PROJECT_ID</key>
	<string>decisive-router-311716</string>
	<key>STORAGE_BUCKET</key>
	<string>decisive-router-311716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54119213170:ios:51717b05ba936bb36a7aeb</string>
</dict>
</plist>